---
// import aboutImg from "./annette.jpeg";
import PageLayout from "@/layouts/Base.astro";
// import { Image } from "astro:assets";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I’m Annette. I'm a software engineer trying (emphasis on **trying**) to share the new technology I am exploring. I currently enjoy my life in Berlin.
					</p>
		<!-- <div class="flex justify-center">
			<Image
				alt=" Annette saying hi"
				fetchpriority="high"
				loading="eager"
				src={aboutImg}
			/>
		</div> -->
		<p>Here are some facts about me:</p>
		<ul class="list-inside list-disc">
			<li>I'm from Bangalore, India</li>
			<li>I have a Master's degree in Cybersecurity from University of Turku (Finland) and EURECOM (France)</li>
			<li>I did my Bachelor's degree in Computer Science and Engineering from RV College of Engineering</li>
			<li>I worked in companies like Amazon, Amadeus, CERN and JP Morgan</li>
			<li>I'm proficient in Java, Python, Go and C </li>
			<li>I really love Leetcode and exploring DSA problems.</li>
			<li>I'm proficient in Web App Security, Linux and Networking. </li>


		</ul>
		<hr>
		<section class="space-y-4">
            <h2 class="text-2xl font-bold">Companies</h2>
            <div class="grid grid-cols-2 gap-4 items-center">
				<!-- Amazon -->
				<img src="/logos/amazon.svg" alt="Amazon" class="h-16 w-auto mx-auto row-start-1 col-start-1" />
				<!-- CERN -->
				<img src="/logos/cern.png" alt="CERN" class="h-16 w-auto mx-auto row-start-2 col-start-2" />
				<!-- Amadeus -->
				<img src="/logos/amadeus.png" alt="Amadeus" class="h-8 w-auto mx-auto row-start-1 col-start-3" />
				<!-- JP Morgan -->
				<img src="/logos/jpmc.jpeg" alt="JP Morgan" class="h-16 w-auto mx-auto row-start-2 col-start-4" />
			</div>
        </section>
		<!-- <p>
			Clone or fork my <a
				aria-label="github repository"
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				rel="noopener noreferrer"
				target="_blank">repo</a
			> if you like me!
		</p> -->
	</div>
</PageLayout>
